/* IMPORTS */

@font-face {
  font-family: bignoodletitling;
  src: url(../fonts/big_noodle_titling.ttf);
}
@font-face {
  font-family: municipal;
  src: url(../fonts/Municipal.ttf);
}
/* font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* CODI CSS */

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

/* MENU NAV */

    .header{
        background: linear-gradient(to right, rgb(75, 228, 255), rgb(63, 253, 63));
        height: 5vw;
        width: 100%;        
        z-index: 4;
        position: fixed;
        -webkit-box-shadow: 0px 11px 28px 2px rgba(0,0,0,0.521);
        -moz-box-shadow: 0px 11px 28px 2px rgba(0,0,0,0.521);
        box-shadow: 0px 11px 28px 2px rgba(0, 0, 0, 0.521);

    }
    #company{
        float: left;
        padding: 1vw;
        font-size: 2.5vw;
        text-decoration: none;
        color: black;
        font-family: bignoodletitling;
        font-weight: bolder;
    }
    nav{
        text-align: right;
        font-size: 2vw;
        display: flex;
        padding: 0.5vw 1vw 0vw 0vw;
        justify-content: flex-end;
        align-items: center;
    }
    nav > a{
        font-family: bignoodletitling;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
    }
    nav > a:nth-child(1){
        padding-right: 2vw;
    }
    nav > a:nth-child(2){
        padding-right: 1vw;
    }
    nav > img{
        border: 0.2vw solid black;
        height: 4vw;
        width: 4vw;
        border-radius: 50%;
    }

/* USUARI POPUP */

.popupContent{
    background: linear-gradient(to right, rgb(75, 228, 255), rgb(63, 253, 63));;
    width:20vw;
    height: auto;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    font-size: 1vw;
  }
  .menuForm{
    display: flex;
    justify-content: space-between;
  }
  .menuForm > a{
      text-decoration: none;
      color: black;
      padding: 0.1vw 0.3vw 0.1vw 0.3vw;
      background-color: grey;
      border: 0.1vw solid black;
  }
  form > input{
    font-size: 1vw;
    width: 18vw;
    text-align: center;
  }
  .popup{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #desplegableUser:target{
    opacity:1;
    pointer-events:auto;
    z-index: 15;
  }

/* MENU LATERAL */

#menu-lateral {
  background-color: lightgrey;
  position: fixed;
  top: 5vw;
  left: 0vw;
  width: 5vw;
  height: 47.9vw;
  z-index: 5;
  -webkit-box-shadow: 0px 11px 28px 2px rgba(0, 0, 0, 0.521);
  -moz-box-shadow: 0px 11px 28px 2px rgba(0, 0, 0, 0.521);
  box-shadow: 0px 11px 28px 2px rgba(0, 0, 0, 0.521);
}
.desplegable-lateral {
  border: 0.1vw solid black;
  border-radius: 0.2vw;
  height: 2vw;
  width: 2vw;
  margin: 1.4vw;
}
#despContent {
  color: black;
  display: none;
  justify-content: center;
  flex-flow:column;
  font-size: 3vw;
  z-index: 5;
  margin-top: 2vw;
}
#despContent > button{
    margin: 0.5vw 2vw 0.5vw 2vw;
    width: auto;
    height: 3vw;
    font-size: 1vw;
}
#despContent > h3{
    text-decoration: underline;
    font-size: 3vw;
    text-align: center;
    font-family: bignoodletitling;
    text-transform: uppercase;
    margin: 2vw 0vw 2vw 0vw;
}
#despContent > input{
    position: relative;
}

/* TAULA MARCADOR */

    #taulaMarcador{
        height: 35vw;
        width: 60vw;
        background-color: white;
    }
    #loginRequest{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #loginRequest > h1{
        padding-top: 25%;
        font-size: 6vw;
        text-transform: uppercase;
        font-family: bignoodletitling;
    }
    .taula{
        display: flex;
        justify-content: space-around;
    }
    .taula > p{
        text-transform: uppercase;
        font-size: 2vw;
        padding: 1vw;
        margin-bottom: 1vw;
        
    }
/* JOC */

.joc {
  background-color: lightskyblue;
  position: relative;
  width: 94.1vw;
  top: 5vw;
  left: 5vw;
  height: 44.9vw;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
}
.instrument {
  -webkit-box-shadow: 0px 11px 28px 2px rgba(0, 0, 0, 0.521);
  -moz-box-shadow: 0px 11px 28px 2px rgba(0, 0, 0, 0.521);
  box-shadow: 0px 11px 28px 2px rgba(0, 0, 0, 0.521);
  border-radius: 0.5vw;
  background-color: blue;
  width: 40vw;
  padding: 2vw;
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: center;
}
.instrument > button {
  margin-left: 0.5vw;
  text-transform: uppercase;
}
#notaDo1 {
  background: black;
  height: 18vw;
  width: 2.5vw;
  border: 0.15vw solid black;
  color:  #65469b;
}
#notaRe {
  background: black;
  height: 16vw;
  width: 2.5vw;
  border: 0.15vw solid black;
  color: #4a569a;
}
#notaMi {
  background: black;
  height: 14vw;
  width: 2.5vw;
  border: 0.15vw solid black;
  color: #3584c4;
}
#notaFa {
  background: black;
  height: 12vw;
  width: 2.5vw;
  border: 0.15vw solid black;
  color: #1e857b;
}
#notaSol {
  background: black;
  height: 10vw;
  width: 2.5vw;
  border: 0.15vw solid black;
  color: #529555;
}
#notaLa {
  background: black;
  height: 8vw;
  width: 2.5vw;
  border: 0.15vw solid black;
  color: #a9b446;
}
#notaSi {
  background: black;
  height: 6vw;
  width: 2.5vw;
  border: 0.15vw solid black;
  color: #cca120;
}
#notaDo {
  background: black;
  height: 4vw;
  width: 2.5vw;
  border: 0.15vw solid black;
  color: #cc5a36;
}
.partitura {
    border: solid 2px black;
 
}
#notaClick {
  width: 15vw;
  height: 15vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */

.footer {
  background-color: black;
  position: relative;
  z-index: 5;
  left: 0;
  bottom: 0;
  top: 5vw;
  width: 100%;
  min-height: 6vw;
  -webkit-box-shadow: 0px -9px 74px 2px rgba(0, 0, 0, 0.521);
  -moz-box-shadow: 0px -9px 74px 2px rgba(0, 0, 0, 0.521);
  box-shadow: 0px -9px 74px 2px rgba(0, 0, 0, 0.521);
}
